@{
    ViewBag.Title = "About";
}
<h1>Thank you for submitting your message!!! </h1>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p> Back to <a href="https://Localhost:44301/">HOME</a> page</p>